.box {
 // border: 1px dashed blue;
  //background-color: rgb(255, 248, 240);
  // padding: 0 1rem;
  cursor: move;
  // float: left;
   width: 148px;
  // height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  padding: 0;
  line-height: 1;
}
