.user-input-container {
    display: flex;
    align-items: center;
    border: 2px solid #c1eaf1;
  
    padding: 4px;
    width: 150px;
    height: 23px;
    margin-left: 40px;
  }
  .iconne{
    background-color: #c1eaf1;
    height: 19px;
    padding: 8px;
    display: flex;
  }
  input[type='text'] {
    flex: 1;
    border: none;
    outline: none;
   

  }
  
  .user-icon {
    margin-left: 10px;
    font-size: 18px;
    color: rgb(248, 249, 250);
  }
  